body {
  background: #1488cc; /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #1488cc, #2b32b2); /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #1488cc, #2b32b2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
width: 400px;
}

h2 {
  font-size: 20px;
  color: white;
}

.swipe {
  display: inline-block;
  width: 150px;
}

.instruction {
  font weight: 100;
  font-size: 10px;
}

#linkedinStart, #linkedinStop {
  margin-right: 5px;
  width: 80px;
  margin-top: 5px;
  margin-bottom: 6px;
}
